<html>
  <head>
    <style>
      body {
        <% if guess > number %>
          background: #f55;
        <% elsif guess < number %>
          background: #f99;
        <% else %>
          background: #9f9;
        <% end %>
      }
    </style>
  </head>
  <body>
    <h1>Guess a number from 0 to 100</h1>
    <p>
      <% if guess == number || cheat == 'true' %>
        THE SECRET NUMBER IS  <%= number %>
      <% end %>
    </p>  
    <p>
      <%= message %>
    </p>

    <p>
      You have <%= no_guesses %> guesses left!
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>